Given a passage I would like you to summarize the claims within the passage. Here are a few examples of what I am looking for 
example 1.
passage:
Lieutenant Retired General Asif Mumtaz appointed as Chairman Pakistan Medical Commission PMC Lieutenant Retired General Asif Mumtaz appointed as Chairman Pakistan Medical Commission PMC Lieutenant Retired General Asif Mumtaz appointed as Chairman Pakistan Medical Commission PMC None
Claim:
Pakistani government appoints former army general to head medical regulatory body
example 2
passage:
A priceless clip of 1970 of Bruce Lee playing Table Tennis with his Nan-chak !! His focus on speed A priceless clip of 1970 of Bruce Lee playing Table Tennis with his Nan-chak !! His focus on speed A priceless clip of 1970 of Bruce Lee playing Table Tennis with his Nan-chak !! His focus on speed None
Claim:
Late actor and martial artist Bruce Lee playing table tennis with a set of nunchucks.
example 3
passage:
Hydrate YOURSELF After Waking Up Water 30 min Before a Meal DRINK Before Taking a Shower Before Going to Bed\nat the correct time Helps activate internal organs Helps digestion Helps lower blood pressure Helps to avoid heart attack Health by Punjab Kesari
Claim:
Drinking water at specific times can have different health benefits

Please try to follow this format.

{{input}}